<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col" class="puntero" *ngFor="let blog of blogs">
        <div class="card puntero" style="width: 18rem;" (click)="goToPost(blog.url)">
            <div class="card-body">
                <img [src]="blog.image" class="card-img-top" alt="Not working" width="300px;" height="150px">
                <h5 class="card-title">{{blog.title}}</h5>
                <div class="text-muted">
                    {{blog.date | date:'mediumDate' }}
                </div>                
            </div>
        </div>
    </div>
    
</div>

