<h1>Acerca de esta página</h1>
<div class="row">
    <div class="col-md-8">
        <p>Esta página fue creada como una herramienta para compartir conocimiento y datos de interes para otros programadores
             a través de tutoriales y blogs
            y a su vez funcionar como un portafolio para demostrar mis capacidades a posibles empleadores así como a 
            clientes.
        </p>
    </div>    
</div>
<hr>
<h1>Acerca mi</h1>
<div class="row">
    <div class="col-md-8">
        <p>
            Soy un egresado del Instituto Tecnologico Nacional de México campus Tepic de la carrera de 
            Ingenieria en sistemas computacionales.
            Me interesa el desarrollo y diseño web.
            Mis hobbies son aprender nuevas tecnologias de desarrollo a través de cursos y libros, realizar tutoriales para 
            compartir mi conocimiento, la musica y las carreras de formula 1.
        </p>
    </div>
    <div class="col-md-4">
        <div class="avatar" style="background-image: url(https://avatars.githubusercontent.com/u/52218888?v=4)"></div>
    </div>
</div>
<br><br><br>