<h2>¿Comó crear una API?</h2>

<hr>

<p>
    En este tutorial veremos como crear una API utilizando las tecnologias <strong>Node.js</strong> y 
    <strong>MongoDB</strong> para ocuparnos de la base de datos.
    <br>
    El framework utilizado para Node.js será <strong>Express</strong>
    <br>
    Primeramente definamos que es una API: una API es una Interfaz de Programación de Aplicación.
    Las API permiten que sus productos y servicios se comuniquen con otros proyectos, sin necesidad de saber cómo están implementados.
    <br>
    También existen las <strong>API RESTful</strong>, este tipo de API se caracteriza por implementar todos los verbos HTTP, los cuales son: (GET, POST, PUT y DELETE).
    En este tutorial nos centraremos en realizar una API RESTful.
    <br>
    <br>

</p>