/* You can add global styles to this file, and also import other style files */
.navbar-background {
  background-color: #00394d;
}

footer {
  color: white;
  background-color: #00394d;
  opacity: 0.85;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.main-container {
  margin-top: 20px;
}

div.avatar {
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 350px;
  width: 350px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

.puntero {
  cursor: pointer;
}
